.value_container {
  width: 100%;
  padding-block: 30px;
}
.value_content {
  width: 70%;
  margin: 0 auto;
}
.value_header {
  font-size: 52px;
  font-weight: 700;
  font-family: "Montserrat";
  margin-bottom: 32px;
  color: #00221b;
  text-align: center;
}
.value_list_container {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 8px;
  margin-bottom: 16px;
}
.value_list_container h2 {
  font-size: 32px;
  font-weight: 600;
  font-family: "Montserrat";
  color: #00221b;
  text-align: left;
}
.value_list_container li {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 8px;
  color: #00221b;
  font-size: 14px;
  font-weight: 400;
}
.value_list_container li span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  background-color: #e1c340;
}
